@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  color: #414141;
}

.section-outer {
  padding-right: 20px;
  padding-left: 20px;
}

.section-inner {
  max-width: 1100px;
  margin: 0 auto;
}

.description-item__icon {
  margin-bottom: 20px;
}
.description-item__title {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
.description-item__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  color: #6c6c6c;
}

.btn-start {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 16px 20px;
  border: none;
  background: linear-gradient(to right, #fe985b, #fe4fa7);
  outline: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.btn-start:hover {
  background: linear-gradient(to right, #fe4fa7, #fe985b);
}

.section-header {
  color: #fff;
  background: url("../../img/showcase.png") no-repeat 50% 50%;
  background-size: cover;
  position: relative;
}
.section-header .section-inner {
  height: 100vh;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.section-header::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(20, 39, 41, 0.6);
}
.section-header-logo {
  font-weight: bold;
  font-size: 24px;
  flex-shrink: 1;
  padding-top: 35px;
}
.section-header-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.section-header-wrapper {
  margin: 0 auto;
}
.section-header-wrapper__title {
  text-align: center;
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
  margin-bottom: 16px;
}
.section-header-wrapper__subtitle {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  width: 80%;
  margin: 0 auto 44px;
}
.section-header-wrapper__form {
  display: flex;
}
.section-header-wrapper__form-input {
  flex: 1;
}
.section-header-wrapper__form-input input {
  font-family: "Montserrat", sans-serif;
  border: none;
  background: rgba(255, 255, 255, 0.25);
  color: white;
  font-size: 16px;
  margin: 0;
  padding: 16px 20px;
  outline: none;
  border-radius: 4px;
  width: 100%;
  transition: 0.2s;
}
.section-header-wrapper__form-input input::placeholder {
  color: white;
}
.section-header-wrapper__form-input input:focus {
  background: rgba(255, 255, 255, 0.5);
}
@media (min-width: 576px) {
  .section-header-wrapper__form-input {
    margin-right: 40px;
  }
}
@media (max-width: 575px) {
  .section-header-wrapper__form {
    flex-direction: column;
  }
  .section-header-wrapper__form-input {
    margin-bottom: 10px;
  }
  .section-header-wrapper__form-button {
    flex: 1;
  }
}
.section-promo {
  font-family: "Lato", sans-serif;
  padding-top: 120px;
  padding-bottom: 120px;
  color: #414141;
}

.section-promo-1 {
  display: flex;
}
.section-promo-1__content, .section-promo-1__video {
  flex-basis: 50%;
}
.section-promo-1__content .title {
  font-size: 32px;
  line-height: 51px;
  font-weight: bold;
  margin-bottom: 56px;
}
.section-promo-1__content .description-item {
  margin-top: 20px;
}
.section-promo-1__video img {
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .section-promo-1 {
    flex-direction: column;
  }
  .section-promo-1__video {
    order: -1;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .section-promo-1__content {
    padding-right: 90px;
  }
}

.section-promo-2 {
  display: flex;
  padding-top: 86px;
  margin-top: 120px;
  border-top: 1px solid #e2e2e2;
  text-align: center;
}
.section-promo-2 .description-item + .description-item {
  margin-left: 40px;
}

.section-founder {
  background-color: #f6fafd;
  padding-top: 34px;
}
.section-founder .section-inner {
  display: flex;
}
.section-founder__content {
  align-self: center;
  padding-left: 50px;
}
.section-founder__content-text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 40px;
}
.section-founder__content-name {
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}
.section-founder__content-post {
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 575px) {
  .section-founder .section-inner {
    flex-direction: column;
  }
  .section-founder__img img {
    max-width: 100%;
  }
  .section-founder__content {
    order: -1;
    margin-bottom: 20px;
  }
}
@media (min-width: 576px) {
  .section-founder__img {
    align-self: flex-end;
  }
}

.section-plans {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}
.section-plans__title, .section-plans__subtitle {
  font-family: "Lato", sans-serif;
}
.section-plans__title {
  font-size: 36px;
  line-height: 51px;
  font-weight: bold;
}
.section-plans__subtitle {
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  width: 50%;
  margin: 0 auto 80px;
}
.section-plans__list {
  display: flex;
  justify-content: center;
}
.section-plans__list-item {
  flex-basis: 370px;
  padding: 60px 45px;
}
.section-plans__list-item_title {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.section-plans__list-item_price {
  margin-bottom: 26px;
}
.section-plans__list-item_price .prefix {
  font-size: 72px;
  line-height: 86px;
  font-weight: bold;
  color: #fe4fa7;
}
.section-plans__list-item_price .postfix {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}
.section-plans__list-item_description {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  margin-bottom: 40px;
}
.section-plans__list-item.active {
  background-color: #f6fafd;
}

.section-free {
  text-align: center;
  color: white;
  background: linear-gradient(to right, #fe985b, #fe4fa7);
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-free__title {
  font-size: 66px;
  line-height: 60px;
  line-weight: bold;
  margin-bottom: 26px;
}
.section-free__description {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto 40px;
}
@media (min-width: 768px) {
  .section-free__description {
    width: 50%;
  }
}

.section-footer {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-footer__logo {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  margin-bottom: 30px;
}
.section-footer__nav {
  display: flex;
  justify-content: center;
  margin: 0 0 75px;
  padding: 0;
  list-style: none;
}
.section-footer__nav li a {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #464646;
  transition: 0.2s;
}
.section-footer__nav li a.active, .section-footer__nav li a:hover {
  color: #fe58a6;
}
@media (max-width: 575px) {
  .section-footer__nav {
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 576px) {
  .section-footer__nav li + li {
    margin-left: 60px;
  }
}
.section-footer__copyright_and_links {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .section-footer__copyright_and_links {
    width: 60%;
    margin-left: 375px;
  }
}

.helper-link {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.helper-link li + li {
  margin-left: 20px;
}
.helper-link li a {
  color: #464646;
  text-decoration: none;
}